html, body
  margin 0
  padding 0
  background-color #eeeeee
  width 100%
  height 100%
  //overflow hidden
  line-height 1
  font-family -apple-system-font,Helvetica Neue,sans-serif;
.body
  width 100%
  height 100%
  background-color #eeeeee
  overflow-y auto
  overflow-scrolling touch
  -webkit-overflow-scrolling touch
input:focus,
button:focus,
select:focus,
textarea:focus
  outline:none

input,
button,
select,
textarea
  border none

textarea
  font-size:13px
  resize:none
/**
** 清楚浏览器自带样式
 */
h3
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0
/*
**  去除iOS点击可点击区域的黑色背景
 */
*
  -webkit-tap-highlight-color transparent
// 去除input date类型的默认样式
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator
  display none
input[type="date"]::-webkit-clear-button,
input[type="datetime-local"]::-webkit-clear-button,
input[type="month"]::-webkit-clear-button,
input[type="week"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button
  display none
input
  -webkit-appearance none
  background-color transparent

/* VUE过渡动画 */
/* 设置持续时间和动画函数 */
.fade-enter-active
  transition: all .3s ease
.fade-leave-active
  transition: all .0s ease
.fade-enter
  opacity 0
.fade-leave-to
  /* .slide-fade-le-active for below version 2.1.8 */
  opacity 1
/* 点击效果 */
.click-effect
  background-color transparent
  &:active
    background-color #f1f1f1 !important
